{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "tailwindStylesheet": "./apps/web/src/app.css",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "printWidth": 100
}
